datasets>=1.18.1
mosaicml[all]>=0.11.1
mosaicml-cli==0.2.25
nltk==3.7  # required for rougeL and rougeLsum
omegaconf<3
sentencepiece>=0.1.97
transformers>=4.9.0
# for MosaicGPT
triton==2.0.0.dev20221103